@use '../helpers' as *;

.blog-body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: fluid(20, 40);
  margin-bottom: fluid(66, 132);

  @include tablet {
    grid-template-columns: 1fr;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: fluid(40, 80);
  }

  &__item {
    padding: rem(25);
    display: flex;
    flex-direction: column;
    gap: fluid(16, 24);
  }

  &__image {
    border-radius: var(--border-radius-medium-s);
  }

  &__blockquote {
    font-size: fluid(18, 36);
    font-weight: 500;
    padding: rem(48) rem(40);
    border-block: var(--border);
    background: linear-gradient(90deg,var(--color-dark-10) 0%, transparent 100%);
    line-height: rem(64);
  }

  &__soc1als {
    top: rem(10);
    position: sticky;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: fluid(20, 40);

    @include tablet {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__soc1als-icon {
    color: var(--color-dark);

    @include hover {
      color: var(--color-red);
    }
  }
}