@use '../helpers' as *;

.burger-button {
  margin: 0;
  border: none;
  
  width: rem(22);
  aspect-ratio: 1;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border-radius: rem(4);
  background-color: var(--color-dark);

  @include hover {
    background-color: var(--color-red);
  }

  @include laptop-s {
    display: flex;
  }

  &__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-light);
  }
}