@use '../helpers' as *;

.card-recipe {
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--color-blue);

  @include hover {
    .card-recipe__link * {
      color: var(--color-red);
    }
  }

  &__link {
    color: var(--color-dark);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: rem(16) rem(16) rem(32);
    row-gap: rem(24);
  }

  &__image {
    width: 100%;
    border-radius: var(--border-radius-medium-s);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
  }

  &__button {
    color: var(--color-gray);
    width: rem(48);
    aspect-ratio: 1;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
    border-radius: 50%;
    border: none;
    padding: rem(15) rem(14);

    &.like {
      color: var(--color-red);

      & > * {
        filter: drop-shadow(0px 0px 3px #FF636380);
      }
    }
  }
}