@use '../helpers' as *;

.card-recipe {
  max-width: rem(400);
  position: relative;
  display: flex;
  row-gap: rem(24);

  &.--flex-dir-clm {
    flex-direction: column;
  }

  &.--flex-dir-row {
    @include tablet-above {
      flex-direction: row;
    }
  }

  @include tablet {
    max-width: 600px;
    margin-inline: auto;
  }

  &__image {
    width: 100%;
    border-radius: var(--border-radius-medium-s);
  }

  &__body,
  &__info-link {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    text-decoration: none;
    color: var(--color-dark);
  }

  &__info-link {
    @include hover {
      & *:not(.author) {
        color: var(--color-red);
      }
    }
  }

  &__button {
    color: var(--color-gray);
    width: rem(48);
    aspect-ratio: 1;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
    border-radius: 50%;
    border: none;
    padding: rem(15) rem(14);

    &.like {
      color: var(--color-red);

      & > * {
        filter: drop-shadow(0px 0px 3px #FF636380);
      }
    }
  }
}