@use '../helpers' as *;

.footer {
  &__header {
    display: grid;
    gap: rem(16);
    padding-bottom: fluid(24, 48);
    border-bottom: 1px solid var(--color-dark-10);

    @include tablet {
      justify-items: center;
    }
  }

  &__logo {
    width: fluid(90, 110);
    height: fluid(25, 30);
  }

  &__description {
    @include tablet {
      text-align: center;
    }
  }

  &__menu {
    @include tablet-above {
      margin-left: auto;
      margin-block: auto;
      grid-row: -1 / 3;
      grid-column: 2 / 3;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    column-gap: fluid(30, 60);
  }

  &__link {
    text-decoration: none;
    @include fluid-text(14, 16);
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(10);
    justify-items: end;
    padding-block: fluid(24, 48);

    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    @include mobile {
      align-items: center;
      flex-direction: column;
    }
  }

  &__copyright {
    translate: 50%;

    @include tablet {
      translate: none;
    }

    &-link {
      color: var(--color-red);

      @include hover {
        opacity: 0.7;
      }
    }
  }

  &__soc1als {
    display: flex;
    column-gap: fluid(20, 60);
  }

  &__logo,
  &__link,
  &__soc1als-icon {
    color: var(--color-dark);

    @include hover {
      color: var(--color-red);
    }
  }
}