@use '../helpers' as *;

.header {
  padding: fluid(20, 40) fluid(40, 80);
  margin-bottom: fluid(20, 40);
  border-bottom: 1px solid var(--color-dark-10);
  
  &.burger-button-is-active {
    margin-bottom: 0;
    position: absolute;
    z-index: 1000;
    inset: 0;
    align-items: start;
    background-color: var(--color-light);

    .header {
      &__menu {
        width: calc(100% - (42px * 2));
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        max-height: 500px;
        overflow-y: auto;
      }

      &__list {
        flex-direction: column;
        align-items: center;
        row-gap: rem(30);
      }
    }

    .burger-button {
      display: flex;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(20);
  }

  &__logo {
    width: fluid(90, 110);
    height: fluid(25, 30);
  }

  &__menu {
    @include laptop-s {
      display: none;
    }
  }

  &__list {
    display: flex;
    column-gap: fluid(30, 60);
  }

  &__link {
    text-decoration: none;
    @include fluid-text(14, 16);
  }

  &__soc1als {
    display: flex;
    column-gap: fluid(20, 40);

    @include laptop-s {
      margin-left: auto;
    }
  }

  &__logo,
  &__link,
  &__soc1als-icon {
    color: var(--color-dark);

    @include hover {
      color: var(--color-red);
    }
  }
}