@use '../helpers' as *;

.hot-recipes {
  margin-bottom: fluid(80, 160);
  max-width: 1980px;

  &__list {
    display: flex;
    overflow-y: auto;
    gap: fluid(20, 40);

    @include laptop-s {
      height: rem(680);
    }
  }

  &__item {
    min-width: calc(rem(1280) + rem(16) * 2);
    display: grid;
    grid-template-columns: 60% auto;
    background-color: var(--color-blue);
    border-radius: var(--border-radius-large);

    @include laptop {
      min-width: calc(rem(1024) + rem(16) * 2);
    }

    @include laptop-s {
      min-width: calc(rem(680) + rem(16) * 2);
      grid-template-columns: none;
      grid-template-rows: 34% 66%;
    }

    @include tablet {
      min-width: 100%;
    }
  }

  &__slide {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: fluid(25, 50);
    gap: fluid(10, 20);

    @include laptop-s {
      order: 1;
    }
    
    & > * {
      grid-column: -1 / 1;
    }
  }

  &__sticker {
    display: flex;
    align-items: center;
    padding: rem(10) rem(20);
    gap: rem(13);
    background-color: var(--color-light);
    border-radius: var(--border-radius-large);
    color: var(--color-dark);
  }

  &__recipe-met > * {
    padding: rem(8) rem(16);
    background-color: var(--color-dark-5);
    border-radius: var(--border-radius-large);
  }

  &__author {
    @include mobile-above {
      grid-column: 1 / 2;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    
    @include mobile-above {
      margin-left: auto;
      grid-column: 2 / 3;
    }
  }

  &__bg {
    background: url("../../images/hot-recipes/bg.jpg") center/cover no-repeat;
    border-top-right-radius: var(--border-radius-large);

    @include laptop-s {
      border-top-left-radius: var(--border-radius-large);
    }

    @include laptop-above-s {
      border-bottom-right-radius: var(--border-radius-large);
    }
  }
}