@use '../helpers' as *;

.ingredients {
  display: flex;
  flex-direction: column;
  row-gap: fluid(24, 48);
  margin-bottom: fluid(44, 88);

  @include tablet-above {
    grid-column: 1 / 2;
  }

  &__item {
    padding-block: fluid(16, 32);
    display: flex;
    align-items: center;
    column-gap: fluid(12, 24);
    border-bottom: var(--border);
  }

  &__checkbox:checked ~ &__label {
    color: var(--color-dark-60);
    text-decoration: line-through;
  }
}