@use '../helpers' as *;

.instagram {
  display: flex;
  flex-direction: column;
  row-gap: fluid(40, 80);
  align-items: center;
  padding-block: fluid(40, 80);
  background: linear-gradient(transparent 0%, var(--color-blue) 100%);
  margin-bottom: fluid(80, 160);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(24);
  }

  &__title,
  &__description {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);

    @include laptop {
      gap: rem(10);
    }

    @include laptop-s {
      gap: rem(40);
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    @include tablet {
      width: 330px;
      margin-inline: auto;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    column-gap: rem(17);
  } 
}