@use '../helpers' as *;

.kitchen-tutorial {
  margin-bottom: fluid(80, 160);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: rem(40);
  align-items: center;
  justify-items: center;

  @include tablet {
    grid-template-columns: 1fr;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: fluid(20, 40);

    @include tablet {
      order: 1;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__bg {
    width: fluid(150, 710);

    @include tablet {
      width: 380px;
    }
  }
}