@use '../helpers' as *;

.other-recipes {
  position: relative;
  margin-bottom: rem(13);

  @include tablet-above {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  &__wrapper {
    top: rem(13);
    display: flex;
    flex-direction: column;
    gap: rem(32);
    position: sticky;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: fluid(12, 24);
  }

  &__card-recipe.card-recipe {
    .card-recipe {
      &__link {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: fluid(12, 24);
      }

      &__body {
        justify-content: center;
        gap: rem(16);
      }

      &__description {
        color: var(--color-dark-60);
        font-weight: 500;
      }
    }
  }
}