@use '../helpers' as *;

.pagination {
  margin-bottom: fluid(80, 160);
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    gap: rem(16);
  }

  &__controls {
    width: 64px;
    height: 64px;
    padding-block: 10px;
    font-weight: bold;
    color: var(--color-dark);
    background-color: var(--color-light);
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-dark-10);

    &.active {
      color: var(--color-light);
      background-color: var(--color-dark);
      border-color: var(--color-dark);
    }

    @include hover {
      color: var(--color-light);
      background-color: var(--color-red);
      border-color: var(--color-red);
    }
  }
}