@use '../helpers' as *;

.reminder {
  position: relative;
  min-height: rem(421);
  height: rem(434);
  background: linear-gradient(var(--color-green) 0%, var(--color-green-dark) 100%);

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background: url("../../images/plate.png") center/contain no-repeat;
  }

  &__card {
    height: 100%;
    padding: rem(40) rem(24) rem(32);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  &__title {
    z-index: 100;
    font-size: rem(24);
    text-align: center;
    color: var(--color-light);
  }

  &__link {
    z-index: 100;
    color: var(--color-light);
    opacity: 0.6;
  }
}