@use '../helpers' as *;

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: fluid(40, 80);
  margin-bottom: fluid(40, 80);
  
  &__header {
    & * {
      text-align: center;
    }
  }

  &__body {
    width: max(rem(360), 50%);
  }
  
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: rem(10);
    justify-content: space-between;
    
    padding: rem(10);
    border: var(--border);
    border-radius: var(--border-radius-medium);
  }

  &__field {
    border: none;
    margin-block: rem(10);
    padding: 0;
    padding-inline: rem(10);

    &::placeholder {
      color: var(--color-dark-40);
    }
  }
}