@use '../helpers' as *;

.simple-recipes {
  display: flex;
  flex-direction: column;
  margin-bottom: fluid(70, 143);
  row-gap: fluid(50, 96);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(15, 24);
  }

  &__title,
  &__description {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid(20, 40);

    @include laptop-s {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      max-width: 600px;
      margin-inline: auto;
    }
  }

  &__item {
    padding: rem(16) rem(16) rem(32);
    border-radius: var(--border-radius);
    background-color: var(--color-blue);
  }
}