@use '../helpers' as *;

.simple-recipes {
  display: flex;
  flex-direction: column;
  padding-block: fluid(30, 63);
  row-gap: fluid(50, 96);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(15, 24);
  }

  &__title,
  &__description {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);

    @include laptop-s {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}