@use '../helpers' as *;

.simple-recipes {
  display: flex;
  flex-direction: column;
  padding-block: fluid(30, 63);
  row-gap: fluid(50, 96);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(15, 24);
  }

  &__title,
  &__description {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);

    @include laptop-s {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.reminder {
  position: relative;
  height: 434px;
  background: linear-gradient(#357355 0%, #1D483B 100%);

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background: url("../../images/plate.png") center/contain no-repeat;
  }

  &__card {
    height: 100%;
    padding: rem(40) rem(24) rem(32);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  &__title {
    z-index: 100;
    font-size: rem(24);
    text-align: center;
    color: var(--color-light);
  }

  &__link {
    z-index: 100;
    color: var(--color-light);
    opacity: 0.6;
  }
}