@use '../helpers' as *;

.subscribe {
  position: relative;
  display: flex;
  margin-bottom: fluid(80, 160);
  flex-direction: column;
  align-items: center;
  row-gap: rem(64);
  padding: fluid(40, 80) fluid(10, 330);
  border-radius: var(--border-radius-large);

  background: url("../../images/subscribe/BG.png") center/cover no-repeat;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: fluid(14, 24);

    & * {
      text-align: center;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    gap: rem(10);
    padding: rem(10);
    background-color: var(--color-light);
    border-radius: var(--border-radius-medium);
  }

  &__field {
    padding: rem(10) rem(5);
    border-radius: 10px;
    font-size: 14px;
    border: none;

    @include tablet {
      width: rem(150);
    }

    &::placeholder {
      color: var(--color-dark-40);
    }
  }
}