@use './helpers' as *;

html {
  &.is-lock {
    overflow: hidden
  }
}

body {
  @include fluid-text(14, 16);

  font-family: "Inter";
  color: var(--color-gray-60);
  font-weight: 400;
  line-height: rem(28);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1 { @include fluid-text(30, 64); }

h2, .h2 { @include fluid-text(24, 48); }

h3, .h3 { @include fluid-text(18, 36); }

h4, .h4 { @include fluid-text(16, 24); }

a.link {
  color: var(--color-red);
  font-weight: 500;

  @include hover {
    opacity: 0.7;
  }
}

p {
  color: var(--color-dark-60);
}

span {
  color: var(--color-dark);
  font-weight: 600;
  font-size: fluid(14, 18);
}

@media print {
  .header,
  .footer,
  main > *:not(.ingredients, .directions) {
    display: none;
  }
}