@use './helpers' as *;

.container {
  max-width: calc(rem(1280) + rem(16) * 2);
  margin-inline: auto;
  padding-inline: 10px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visually-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.special-main {
  display: grid;
  column-gap: fluid(20, 40);
  grid-template-columns: 66% auto;

  @include laptop-s {
    grid-template-columns: repeat(2, 1fr);
  }

  & > * {
    grid-column: -1 / 1;
  }
}