@use './helpers' as *;

:root {
  --color-dark: #000000;
  --color-dark-60: #00000099;
  --color-dark-40: #00000066;
  --color-dark-10: #0000001A;
  --color-dark-5: #0000000D;
  --color-dark-3: #00000008;
  --color-gray: #DBE2E5;
  --color-gray-alt: hsl(0 0 97);
  --color-red: #FF6363;
  --color-orage: #FF7426;
  --color-blue: #E7FAFE;
  --color-light: #FFFFFF;
  --color-green: #357355;
  --color-green-dark: #1D483B;

  --border-radius-large: 44px;
  --border-radius: 30px;
  --border-radius-medium: 24px;
  --border-radius-medium-s: 20px;
  --border-radius-small: 16px;

  --border: 1px solid var(--color-dark-10);

  --transition-duration: 0.2s;
}