@use "./normalize";
@use "./fonts";
@use "./variables";
@use "./utils";
@use "./globals";

@use "./blocks/button";
@use "./blocks/burger-button";
@use "./blocks/header";
@use "./blocks/author";
@use "./blocks/hot-recipes";
@use "./blocks/recipe-met";
@use "./blocks/categories";
@use "./blocks/simple-recipes";
@use "./blocks/card-recipe";
@use "./blocks/reminder";
@use "./blocks/kitchen-tutorial";
@use "./blocks/instagram";
@use "./blocks/delicious-recepie";
@use "./blocks/subscribe";
@use "./blocks/footer";
@use "./blocks/recipe";
@use "./blocks/nutrition-info";
@use "./blocks/print-vesion";
@use "./blocks/ingredients";
@use "./blocks/directions";
@use "./blocks/other-recipes";
@use "./blocks/checkbox";
@use "./blocks/search";
@use "./blocks/all-recipes";
@use "./blocks/pagination";