@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-dark-60: #00000099;
  --color-dark-40: #00000066;
  --color-dark-10: #0000001A;
  --color-dark-5: #0000000D;
  --color-gray: #DBE2E5;
  --color-red: #FF6363;
  --color-orage: #FF7426;
  --color-blue: #E7FAFE;
  --color-light: #FFFFFF;
  --border-radius-large: 44px;
  --border-radius: 30px;
  --border-radius-medium: 24px;
  --border-radius-medium-s: 20px;
  --border-radius-small: 16px;
  --border: 1px solid var(--color-dark-10);
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(80rem + 1rem * 2);
  margin-inline: auto;
  padding-inline: 10px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 30rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 30.0625rem) {
  .visually-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(0.875rem, 0.8285714286rem + 0.1904761905vw, 1rem);
  font-family: "Inter";
  color: var(--color-gray-60);
  font-weight: 400;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1 {
  font-size: clamp(1.875rem, 1.0857142857rem + 3.2380952381vw, 4rem);
}

h2, .h2 {
  font-size: clamp(1.5rem, 0.9428571429rem + 2.2857142857vw, 3rem);
}

a.link {
  color: var(--color-red);
  font-weight: 500;
}
@media (hover: hover) {
  a.link:hover {
    opacity: 0.7;
  }
}
@media (width <= 30rem) {
  a.link:active {
    opacity: 0.7;
  }
}

p {
  color: var(--color-dark-60);
}

.button {
  font-weight: 600;
  font-size: 0.875rem;
  padding: 1.125rem 2.25rem;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-small);
  border: none;
  color: var(--color-light);
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-red);
  }
}
@media (width <= 30rem) {
  .button:active {
    background-color: var(--color-red);
  }
}

.burger-button {
  margin: 0;
  border: none;
  width: 1.375rem;
  aspect-ratio: 1;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border-radius: 0.25rem;
  background-color: var(--color-dark);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-red);
  }
}
@media (width <= 30rem) {
  .burger-button:active {
    background-color: var(--color-red);
  }
}
@media (width <= 64rem) {
  .burger-button {
    display: flex;
  }
}
.burger-button__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-light);
}

.header {
  padding: clamp(1.25rem, 0.7857142857rem + 1.9047619048vw, 2.5rem) clamp(2.5rem, 1.5714285714rem + 3.8095238095vw, 5rem);
  border-bottom: 1px solid var(--color-dark-10);
}
.header.burger-button-is-active {
  position: absolute;
  inset: 0;
  align-items: start;
  background-color: var(--color-light);
}
.header.burger-button-is-active .header__menu {
  width: calc(100% - 84px);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  max-height: 500px;
  overflow-y: auto;
}
.header.burger-button-is-active .header__list {
  flex-direction: column;
  align-items: center;
  row-gap: 1.875rem;
}
.header.burger-button-is-active .burger-button {
  display: flex;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25rem;
}
.header__logo {
  width: clamp(5.625rem, 5.1607142857rem + 1.9047619048vw, 6.875rem);
  height: clamp(1.5625rem, 1.4464285714rem + 0.4761904762vw, 1.875rem);
}
@media (width <= 64rem) {
  .header__menu {
    display: none;
  }
}
.header__list {
  display: flex;
  column-gap: clamp(1.875rem, 1.1785714286rem + 2.8571428571vw, 3.75rem);
}
.header__link {
  text-decoration: none;
  font-size: clamp(0.875rem, 0.8285714286rem + 0.1904761905vw, 1rem);
}
.header__soc1als {
  display: flex;
  column-gap: clamp(1.25rem, 0.7857142857rem + 1.9047619048vw, 2.5rem);
}
@media (width <= 64rem) {
  .header__soc1als {
    margin-left: auto;
  }
}
.header__logo, .header__link, .header__soc1als-icon {
  color: var(--color-dark);
}
@media (hover: hover) {
  .header__logo:hover, .header__link:hover, .header__soc1als-icon:hover {
    color: var(--color-red);
  }
}
@media (width <= 30rem) {
  .header__logo:active, .header__link:active, .header__soc1als-icon:active {
    color: var(--color-red);
  }
}

.hot-recipes {
  padding-block: clamp(1.25rem, 0.7857142857rem + 1.9047619048vw, 2.5rem);
}
.hot-recipes__list {
  display: flex;
  overflow-y: auto;
  column-gap: 2.5rem;
}
@media (width <= 48.75rem) {
  .hot-recipes__list {
    height: 580px;
  }
}
.hot-recipes__item {
  display: flex;
  min-width: clamp(24.375rem, 3.7142857143rem + 84.7619047619vw, 80rem);
  background-color: var(--color-blue);
  border-radius: var(--border-radius-large);
}
@media (width <= 48.75rem) {
  .hot-recipes__item {
    flex-direction: column-reverse;
  }
}
.hot-recipes__body {
  width: 60%;
  padding: clamp(1.25rem, 0.5535714286rem + 2.8571428571vw, 3.125rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
  gap: 1.875rem 0.3125rem;
}
@media (width <= 48.75rem) {
  .hot-recipes__body {
    width: 100%;
    height: 80%;
    gap: 0;
  }
}
.hot-recipes__stiker, .hot-recipes__title, .hot-recipes__description, .hot-recipes__recipe-met {
  grid-column: -1/1;
}
.hot-recipes__sticker {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  column-gap: 0.8125rem;
  background-color: var(--color-light);
  border-radius: var(--border-radius-large);
}
.hot-recipes__sticker p {
  font-weight: 600;
  color: var(--color-dark);
}
.hot-recipes__recipe-met .recipe-met__time, .hot-recipes__recipe-met .recipe-met__type {
  border-radius: var(--border-radius-large);
  background-color: var(--color-dark-5);
  padding: 0.5rem 1rem;
}
.hot-recipes__button {
  padding: 1.125rem 1.5625rem;
  display: flex;
  margin-left: auto;
  align-items: center;
  column-gap: 0.9375rem;
  text-decoration: none;
  text-wrap: nowrap;
}
.hot-recipes__bg {
  width: 40%;
  height: 100%;
  background: url("../../images/hot-recipes/bg.jpg") center/cover no-repeat;
  border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
}
@media (width <= 48.75rem) {
  .hot-recipes__bg {
    width: 100%;
    height: 20%;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  }
}

.author {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  text-decoration: none;
}
.author__avatar {
  border-radius: 50%;
}
.author__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author__full-name {
  font-weight: 700;
  color: var(--color-dark);
}
.author__postDate {
  color: var(--color-dark-60);
}

.recipe-met {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.recipe-met__time, .recipe-met__type {
  display: flex;
  flex-direction: row;
  column-gap: 0.625rem;
}

.categories {
  display: flex;
  padding-block: clamp(3.75rem, 2.3571428571rem + 5.7142857143vw, 7.5rem);
  flex-direction: column;
  row-gap: clamp(2.5rem, 1.5714285714rem + 3.8095238095vw, 5rem);
}
.categories__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.625rem;
}
.categories__link {
  padding: 1.25rem 1.6875rem;
  border-radius: var(--border-radius-small);
  background-color: var(--color-blue);
  color: var(--color-dark);
  font-weight: 600;
  text-decoration: none;
}
.categories__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: clamp(1.25rem, 0.7857142857rem + 1.9047619048vw, 2.5rem);
}
@media (width <= 64rem) {
  .categories__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width <= 48.75rem) {
  .categories__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.category {
  padding: clamp(1.25rem, 0.7857142857rem + 1.9047619048vw, 2.5rem);
  display: flex;
  align-items: center;
  row-gap: clamp(1.875rem, 1.4107142857rem + 1.9047619048vw, 3.125rem);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  border-radius: var(--border-radius);
}
.category.breakfast {
  background: linear-gradient(0deg, rgba(112, 130, 70, 0.1) 0%, rgba(0, 0, 0, 0) 65%);
}
.category.breakfast .category__icon {
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
}
.category.breakfast .category__icon-wrapper {
  position: relative;
}
.category.breakfast .category__icon-wrapper::before {
  z-index: -100;
  position: absolute;
  content: "";
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
  top: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  left: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  background: none;
  background: url("../../images/categories/png-1.png") center/contain no-repeat;
  filter: blur(10px);
  opacity: 0.3;
}
.category.vegan {
  background: linear-gradient(0deg, rgba(108, 198, 63, 0.1) 0%, rgba(0, 0, 0, 0) 65%);
}
.category.vegan .category__icon {
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
}
.category.vegan .category__icon-wrapper {
  position: relative;
}
.category.vegan .category__icon-wrapper::before {
  z-index: -100;
  position: absolute;
  content: "";
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
  top: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  left: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  background: none;
  background: url("../../images/categories/png-2.png") center/contain no-repeat;
  filter: blur(10px);
  opacity: 0.3;
}
.category.meat {
  background: linear-gradient(0deg, rgba(204, 38, 27, 0.1) 0%, rgba(0, 0, 0, 0) 65%);
}
.category.meat .category__icon {
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
}
.category.meat .category__icon-wrapper {
  position: relative;
}
.category.meat .category__icon-wrapper::before {
  z-index: -100;
  position: absolute;
  content: "";
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
  top: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  left: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  background: none;
  background: url("../../images/categories/png-3.png") center/contain no-repeat;
  filter: blur(10px);
  opacity: 0.3;
}
.category.dessert {
  background: linear-gradient(0deg, rgba(240, 158, 0, 0.1) 0%, rgba(0, 0, 0, 0) 65%);
}
.category.dessert .category__icon {
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
}
.category.dessert .category__icon-wrapper {
  position: relative;
}
.category.dessert .category__icon-wrapper::before {
  z-index: -100;
  position: absolute;
  content: "";
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
  top: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  left: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  background: none;
  background: url("../../images/categories/png-4.png") center/contain no-repeat;
  filter: blur(10px);
  opacity: 0.3;
}
.category.lunch {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 65%);
}
.category.lunch .category__icon {
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
}
.category.lunch .category__icon-wrapper {
  position: relative;
}
.category.lunch .category__icon-wrapper::before {
  z-index: -100;
  position: absolute;
  content: "";
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
  top: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  left: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  background: none;
  background: url("../../images/categories/png-5.png") center/contain no-repeat;
  filter: blur(10px);
  opacity: 0.3;
}
.category.chocolate {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 65%);
}
.category.chocolate .category__icon {
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
}
.category.chocolate .category__icon-wrapper {
  position: relative;
}
.category.chocolate .category__icon-wrapper::before {
  z-index: -100;
  position: absolute;
  content: "";
  width: clamp(4.6875rem, 4.1071428571rem + 2.380952381vw, 6.25rem);
  aspect-ratio: 1;
  top: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  left: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  background: none;
  background: url("../../images/categories/png-6.png") center/contain no-repeat;
  filter: blur(10px);
  opacity: 0.3;
}

.simple-recipes {
  display: flex;
  flex-direction: column;
  padding-block: clamp(1.875rem, 1.1089285714rem + 3.1428571429vw, 3.9375rem);
  row-gap: clamp(3.125rem, 2.0571428571rem + 4.380952381vw, 6rem);
}
.simple-recipes__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(0.9375rem, 0.7285714286rem + 0.8571428571vw, 1.5rem);
}
.simple-recipes__title, .simple-recipes__description {
  text-align: center;
}
.simple-recipes__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
@media (width <= 64rem) {
  .simple-recipes__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 48.75rem) {
  .simple-recipes__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-recipe {
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--color-blue);
}
@media (hover: hover) {
  .card-recipe:hover .card-recipe__link * {
    color: var(--color-red);
  }
}
@media (width <= 30rem) {
  .card-recipe:active .card-recipe__link * {
    color: var(--color-red);
  }
}
.card-recipe__link {
  color: var(--color-dark);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  row-gap: 1.5rem;
}
.card-recipe__image {
  width: 100%;
  border-radius: var(--border-radius-medium-s);
}
.card-recipe__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.card-recipe__button {
  color: var(--color-gray);
  width: 3rem;
  aspect-ratio: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  border-radius: 50%;
  border: none;
  padding: 0.9375rem 0.875rem;
}
.card-recipe__button.like {
  color: var(--color-red);
}
.card-recipe__button.like > * {
  filter: drop-shadow(0px 0px 3px rgba(255, 99, 99, 0.5019607843));
}

/*# sourceMappingURL=styles.css.map */
